drivers {
    windows {
        webdriver.chrome.driver = C:\Users\HP\IdeaProjects\CryptoSecurityManager\OnlinerSerenityBDD\src\test\resources\drivers\windows\chromedriver.exe
    }
        mac {
            webdriver.chrome.driver = src/test/resources/webdriver/mac/chromedriver.exe
        }
    linux {
                webdriver.chrome.driver = src/test/resources/webdriver/linux/chromedriver.exe
            }
}

ChromeOptions chromeOptions = new ChromeOptions();
chromeOptions.addArguments("--no-first-run");
chromeOptions.addArguments("--homepage=about:blank");
chromeOptions.addArguments("--test-type")
driver.manage().window().maximize();


